* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('img/imagem-fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#menu {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url('img/imagem-menu.jpg');
    align-items: flex-start;
    padding: 20px;
    background-size: cover;
    background-position: center;
}

#game-title {
    font-size: 4em;
    color: green;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 15px;
    margin-left: 35%;
    margin-top: 15%;
}

#start-button {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
    margin-left: 48%;
}

#start-button:hover {
    background-color: #45a049;
}
#start-button.alternate-color {
    background-color: #FF5733; /* Cor alternativa */
}

.menu.alternate-background {
    background-image: url('img/novo-fundo.jpg'); /* Nova imagem de fundo */
}
#caveira-button {
    width: 140px;
    height: 60px;
}
#change-style-button {
    display: block; /* Certifica-se de que o botão está sendo exibido */
    margin: 10px auto; /* Centraliza o botão */
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #007BFF; /* Uma cor de fundo visível */
    color: white; /* Cor do texto */
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}


#music-toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#music-toggle-button img {
    width: 50px;
    height: 50px;
}

.hidden {
    display: none;
}

.game {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

/* Animação do monstro e boss */
.monstro {
    width: 50px;
    height: 100px;
    position: absolute;
    left: 100%; /* Começa fora da tela */
    animation: move-monstro 3s linear infinite; /* Monstro se move */
    margin-top: 500px;
}

#boss {
    width: 40px;
    height: 120px;
    position: absolute;
    left: 100%; /* Começa fora da tela */
    animation: move-boss 15s linear infinite; /* Boss se move mais devagar */
    margin-top: 400px;
}

/* Animações para o movimento dos monstros */
@keyframes move-monstro {
    from {
        left: 100%;
    }
    to {
        left: -100px;
    }
}

@keyframes move-boss {
    from {
        left: 100%;
    }
    to {
        left: -200px;
    }
}

#Shrek {
    position: absolute;
    width: 15px; /* Ajuste a largura do Shrek, se necessário */
    height: 60px; /* Mantém a proporção da imagem */
    margin-top: 500px;
}

.laser {
    position: absolute;
    width: 5px; /* Largura do laser */
    height: 10px; /* Altura do laser */
    background-color: green; /* Laser verde */
    bottom: 60px; /* Ajuste a posição para que fique na altura correta */
    z-index: 1; /* Certifique-se de que o laser fique acima dos outros elementos */
}

#contador {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: white;
}

#game-over {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img/tela-de-game-over.png');
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#restart-button {
    position: absolute;
    margin-top: 24.6%;
    padding: 10px 20px;
    font-size: 37px;
    background-color: black;
    color: red;
    margin-left: -18.1%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: "Press Start 2P", sans-serif;
    font-style: italic;
}

#restart-button:hover {
    background-color: black;
}

#back-to-menu-button {
    position: absolute;
    margin-top: 24.6%;
    padding: 10px 20px;
    font-size: 37px;
    background-color: black;
    color: white;
    margin-left: 12.7%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: "Press Start 2P", sans-serif;
    font-style: italic;
}

#back-to-menu-button:hover {
    background-color: black;
}
.jump {
    animation: jump-animation 0.8s ease forwards; /* Mudar para 'ease' para suavizar a animação */
}

@keyframes jump-animation {
    0% { bottom: 0; }
    50% { bottom: 450px; } /* Ajustar a altura do pulo para 150px */
    60% { bottom: 300px; }
    70% { bottom: 250px; }
    80% { bottom: 200px; }
}


/* Botão de configuração */
.config-button {
    width: 50px; /* Ajuste o tamanho da imagem do botão de configuração */
    height: 50px;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.3s;
}

.config-button:hover {
    transform: scale(1.1); /* Efeito de hover para o botão de configuração */
}

/* Estilos da tabela de controle de música */
#music-controls {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#music-controls img {
    width: 50px; /* Ajuste o tamanho dos botões PNG */
    height: 50px;
    cursor: pointer;
    margin: 5px;
}

#music-controls img:hover {
    transform: scale(1.1); /* Efeito de hover ao passar o mouse */
}

/* Estilo para a tela de vitória */
#victory-screen {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-size: cover;
    width: 101%;
    height: 100vh;
    display: none; /* Inicialmente oculta */
    
}

#victory-screen img {
    width: 100%;
    height: 100%;
    background-image: url('img/Vitoria.jpg');
}

#victory-screen button {
    position: absolute;
    margin-top: -16%;
    padding: 10px 20px;
    font-size: 37px;
    background-color: black;
    color: red;
    margin-left: -9.6%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: "Press Start 2P", sans-serif;
    font-style: italic;

}
#victory-screen button:hover {
    color: rgba(192, 18, 18, 0.511);

}
#restart-button-victory {
    align-items: center;
    margin-top: -100%;
    margin-bottom: 15px;
}
#back-to-menu-button-victory {
    position: absolute;
    margin-top: -20%;
    font-size: 37px;
    background-color: black;
    color: red;
    margin-left: -12%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: "Press Start 2P", sans-serif;
    font-style: italic;

}
#back-to-menu-button-victory:hover {
    color: rgba(192, 18, 18, 0.511);
}